<div [formGroup]="form" class="course-details-form">

    <!-- input -->
    <mat-form-field floatLabel="always">

        <input matInput placeholder="Course Title" formControlName="title" #title>
        <!-- <span matPrefix>+32</span>
        <span matSuffix>.00</span> -->
        <mat-hint align="end"> {{ title.value.length }} / 60</mat-hint>
        <mat-error *ngIf="courseTitle.errors?.minlength">A minimum length of 5 character required</mat-error>

    </mat-form-field>

    <!-- radio button -->
    <mat-radio-group class="course-type" formControlName="courseType">

        <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>
        <mat-radio-button value="premium">Premium</mat-radio-button>

    </mat-radio-group>

    <!-- select -->
    <mat-form-field appearance="fill">
        <mat-select formControlName="category" placeholder="Select category">
            <mat-option>None</mat-option>

            <mat-optgroup label="Beginners">
                <mat-option value="programming">programming</mat-option>
                <mat-option value="javascript">javascript</mat-option>
                <mat-option value="Angular">Angular</mat-option>
            </mat-optgroup>

            <mat-option value="Intermidiate">Intermidiate</mat-option>
            <mat-option value="Advanced">Advanced</mat-option>

        </mat-select>
    </mat-form-field>

    <!-- Date picker -->
    <mat-form-field appearance="outline">

        <input matInput formControlName="releasedAt" placeholder="Release date" [matDatepicker]="releasedAtPicker">

        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>

        <mat-datepicker #releasedAtPicker [dateClass]="dateClass"></mat-datepicker>

    </mat-form-field>


    <!-- checkbox -->
    <mat-checkbox color="primary" formControlName="downloadsAllowed" [indeterminate]="true">
        Downloads Allowed?
    </mat-checkbox>

    <!-- textarea -->
    <mat-form-field  appearance="outline">
        <textarea matInput placeholder="Description" formControlName="longDescription" 
        cdkTextareaAutosize 
        [cdkAutosizeMinRows]="2"
        [cdkAutosizeMaxRows]="5"
        ></textarea>
    </mat-form-field>
    

</div>



